<!DOCTYPE html>
<html>
<head>
  <title>FirstApp</title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div class="container">
  <div id="footer">
  	<p>Copyright &copy; Gakusei QA</p>
	<p>Powered by <a href="#">Kusumoto</a></p>
  </div>
</div><!-- container -->

</body>
</html>
